<!DOCTYPE html>
<html>
  <head>
    <script>
      if (location.hostname.match(/darkwhite/)) {
        location.hostname = location.hostname.replace(/darkwhite/, 'whitealdus');
      }
      var _gaq = _gaq || [];
      _gaq.push(['_setDomainName', location.hostname]);
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="<%= Blograph.meta['description'] %>">
    <title><%= out = []
      out.push "#{title} â§ " if defined?(title) && title
      out.push Blograph.meta['title']
      out.push " @#{params['ref']}" if params.include? 'ref'
    out.join('') %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Alegreya+SC|Alegreya:400,400italic,700,700italic">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="White Aldus Update Feed">
  </head>
  <body>
    <header>
      <h1><a href="/<%= "@#{params['ref']}" if params.include? 'ref' %>"><%= Blograph.meta['header']['title'] %></a></h1>
      <p class="subtitle" title="<%= Blograph.meta['description'] %>"><%= Blograph.meta['header']['subtitle'] %></p>
    </header>
      <%= yield %>
    <div class="container">
    </div>
    <footer>
      <button class="flip" title="<%= Blograph.meta['locale']['flip'] %>">day</button>
      <% feet = Blograph.meta['footer']
      feet = [feet] if feet.is_a? String
      feet.each do |foot| %><p><%= foot %></p><% end %>
    </footer>
    <script src="//cdn.jsdelivr.net/g/rangy@1(rangy-core.js+rangy-cssclassapplier.js),mousetrap@1,domready@1,jsdiff@1"></script>
    <script src="/script.js" async></script>
  </body>
</html>
