<article>
  <header>
    <h1><%= post.title %></h1>
    <p>Posted on <a href="<%= post.link %>"><date datetime="<%= post.date.rfc3339 %>"><%= post.date.strftime Blograph.meta['locale']['date'] %></date></a>.</p>
    <% if !post.tags.empty?; tags = post.tags.dup
      %><p>This <% if tags.length == 1 %>is a <% end %><%=
        a "/tag/#{tags.first}", tags.first, rel: 'main tag'
        %> <%
        unless tags.length == 1
          tags.shift  
          %>is also tagged as <%= tags.map { |t|
            a "/tag/#{t}", t, rel: 'tag' }.to_sentence %><%
        end
      %>.</p><%
    end %>
  </header>
  <%= post.render %>
  <footer>
    <% if post.previous %><p><a rel="prev" href="<%= post.previous.link %>" title="<%= post.previous.excerpt %>&hellip;">Previous</a> issue.</p><% end %>
    <% if post.next %><p><a rel="next" href="<%= post.next.link %>" title="<%= post.next.excerpt %>&hellip;">Next</a> issue.</p><% end %>
    <p><%= Blograph.meta['locale']['feedback'] %></p>
    <div id="disqus_thread"></div>
  </footer>
</article>
<script>
var disqus_identifier = '<%= post.link %>',
    disqus_url = 'https://whitealdus.passcod.name' + disqus_identifier,
    disqus_title = '<%= post.title %>';</script>
<script src="//passcod-darkwhite.disqus.com/embed.js" async></script>
