<article>
  <header>
    <h1><%= post.title %></h1>
    <p><%= post.future? ? 'To be p' : 'P' %>osted on <a href="<%= post.link %>"><date datetime="<%= post.date.rfc3339 %>"><%= post.date.strftime Blograph.meta['locale']['date'] %></date></a>.</p>
    <% if !post.tags.empty?; tags = post.tags.dup
      %><p>This <% if tags.length == 1 %>is a <% end %><%=
        a "/tag/#{tags.first}", tags.first, rel: 'main tag'
        %> <%
        unless tags.length == 1
          tags.shift  
          %>is also tagged as <%= tags.map { |t|
            a "/tag/#{t}", t, rel: 'tag' }.to_sentence %><%
        end
      %>.</p><%
    end %>
  </header>
  <%= post.render %>
  <footer>
    <% if post.previous && (!post.previous.future? || post.future?) %><p><a rel="prev" href="<%= post.previous.link %>" title="<%= post.previous.excerpt %>&hellip;">Previous</a> issue.</p><% end %>
    <% if post.next && (!post.next.future? || post.future?) %><p><a rel="next" href="<%= post.next.link %>" title="<%= post.next.excerpt %>&hellip;">Next</a> issue.</p><% end %>
    <% f = Blograph.meta['locale']['feedback'] %>
    <% unless defined?(comments) && comments == false %>
      <p><%= f %></p>
      <div id="disqus_thread"></div>
    <% else %>
      <p><%= f.sub(/Comment/, "<a href='#{post.link}#disqus_thread'>Comment</a>") %></p>
    <% end %>
  </footer>
</article>
<script>
var disqus_identifier = '<%= post.link %>',
    disqus_url = 'https://whitealdus.passcod.name' + disqus_identifier,
    disqus_title = '<%= post.title %>';</script>
<script src="//passcod-darkwhite.disqus.com/embed.js" async></script>
